@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

:root {
    --primary-blue: #0071e3;
    --font-color: #050a0e;
    --sunny-orange: #FAA329;
    --soft-purple: #7F6AF9;
    --vibrant-red: #FC3C3D;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--font-color);
    font-family: "Hind Siliguri", sans-serif;
    margin: 0;
    padding: 0;
}

.nav-link {
    @apply text-[var(--font-color)] hover:text-[var(--primary-blue)] transition-colors duration-300;
}

.mobile-link {
    @apply text-[var(--font-color)] hover:text-[var(--primary-blue)] transition-colors duration-300;
}



/*  HERO SECTION LAYOUT */

.hero-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 80px;
}

/*  LEFT & RIGHT SIDE */

.left-side,
.right-side {
    width: 100%;
}

/*  FIRST CARD */

.first {
    position: relative;
    min-height: 500px;
    padding: 100px 30px 30px;
    border-radius: 15px;
    background-color: var(--sunny-orange);
    overflow: hidden;
    text-align: right;
}

.shape-image {
    position: absolute;
    top: 0;
    right: 20px;
    width: 120px;
}

.first h4 {
    position: absolute;
    top: 30px;
    right: 60px;
    color: white;
    font-size: 26px;
}

.product-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 320px;
    max-width: 90%;
    z-index: 2;
}

/*  SECOND CARD  */

.second {
    margin-top: 20px;
    min-height: 320px;
    border-radius: 15px;
    background: url(images/bg-1.png) center/cover no-repeat;
    padding: 40px;
    text-align: right;
}

/*  THIRD CARD */

.third {
    position: relative;
    min-height: 350px;
    border-radius: 15px;
    background-color: var(--soft-purple);
    padding: 40px;
    /* overflow: hidden; */
}

.product-image-1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 260px;
    max-width: 80%;
    z-index: 2;
}

/*  BOTTOM ROW  */

.bottom-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.fourth,
.fifth {
    min-height: 470px;
    border-radius: 15px;
    padding: 40px 20px;
    background-size: cover;
    background-position: center;
    text-align: center;

}

.fourth {
    background-image: url(images/bg-2.png);
}

.fifth {
    background-image: url(images/bg-3.png);
}

/*  WRAPPER */

.wrapper {
    margin: 80px 0 30px;
    text-align: center;
}

.banner-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

/* COMMON CARD STYLE*/

.product-banner,
.promo-card {
    position: relative;
    border-radius: 20px;
    /* overflow: hidden; */
    min-height: 300px;
}

/* PRODUCT BANNER */

.product-banner {
    background: linear-gradient(#b7a2d3, #73689d);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 400px;
}

.product-banner img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 55%;
    max-width: 550px;
    z-index: 1;
}

/* PROMO CARD */

.promo-card {
    background-color: #75b9cb;
    text-align: center;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promo-card img {
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 80%;
    max-width: 420px;
    z-index: 1;
}

/* TABLET */

@media (max-width: 1024px) {
    .hero-wrapper {
        grid-template-columns: 1fr;
    }

    .product-image {
        /* position: static; */
        margin: 30px auto 0;
        /* display: block; */
    }

    .product-image-1 {
        width: 280px;
    }

        .banner-grid {
        grid-template-columns: 1fr;
    }

    .product-banner img {
        width: 50%;
    }
}

/* MOBILE */

@media (max-width: 768px) {
    .first {
        text-align: center;
        padding: 60px 20px 30px;
    }

    .shape-image,
    .first h4 {
        display: none;
    }

    .product-image {
        width: 60%;
    }

    .bottom-row {
        grid-template-columns: 1fr;
    }

    /* .third {

        overflow: hidden;
    } */

     .product-banner,
    .promo-card {
        min-height: auto;
        padding: 60px 20px 40px;
        text-align: center;
    }

    .product-banner img,
    .promo-card img {
        /* position: static; */
        transform: none;
        width: 70%;
        margin: 20px auto 0;

        left: 0;
        /* top: 0; */
    }

}

/* SMALL PHONES */

@media (max-width: 480px) {
    .product-image {
        width: 50%;
    }

    .product-image-1 {
        width: 150px;
    }


    .second {
        text-align: center;
    }

    .product-banner img,
    .promo-card img {
        width: 100%;
    }

    .product-banner,
    .promo-card {
        overflow: hidden;
    }

}